<div class="login-sec">
  <div class="logo login-logo">
    <img src="/images/logo.svg" alt="">
  </div>
  <div class="login-panel">
    <div class="panel">
      <div class="panel-content">
        <h3>You are required to login</h3>
        <form action="/login" method="post">
          <div class="inputs login">
            <div class="input-row log">
             <label>Email:</label>
              <input type="text" name="email" value="" placeholder="Enter Your Email" required/>
          </div>
          <div class="input-row log">
            <label>Password:</label>
             <input type="password" name="password" value="" placeholder="Enter Your Password" required/>
          </div>
          </div>
          <input class="sub" type="submit" value="Submit"/>

        </form>
      </div>
    </div>
  </div>
</div>



